.defluat {
    padding: 145px 0 0 0;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.defluat .title h2 {
    font-size: 48px;
    font-weight: 500;
    margin: 0 0 85px 0;
}

.defluat .title span {
    font-size: 20px;
    line-height: 50px;
    margin: 0 50px 0 0;
}